.menu {
     position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgb(56, 56, 56);
}

.menu-logo {
    height: 67px;
    top: 50%;
}

.menu-itf-logo {
    height: 5.26rem;
}

.nav-list {
    display: flex;
    gap: 1rem;
}


.nav-item {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}